<!DOCTYPE html>
{# vim:se filetype=html.tornadotmpl: #}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ path }}</title>
<link href="{{ static_url("dropzone.min.css") }}" rel="stylesheet">

<style>
pre a {
    text-decoration: none;
}
pre span:hover {
    background: gray;
}
</style>

</head>


<body>
<h1>
<code>{{ path }}</code>
</h1>
<h3>
<code>{{ len(lst) }}</code>
</h3>
<h6>
<a href="?dl=zip">zip</a>
<a href="?dl=tar">tar</a>
</h6>
<hr>

<pre>
<a href="../">../</a>
{% for name, size in lst %} <span><a href="{{ name }}">{{ name }}</a> {{ size }}   <a href="#">x</a></span>
{% end %}
</pre>


<button id="newDirectory">NEW</button>

<hr>

<form class="dropzone" action=".">
</form>

<script src="{{ static_url("dropzone.min.js") }}"></script>
<script src="{{ static_url("zepto.min.js") }}"></script>

<script>
var reload = () => location.reload()

$("#newDirectory").on("click", function(e) {
    var dir = prompt("New Directory")
    if (dir) {
        $.ajax({
            url: "/upload" + location.pathname + dir + "/",
            type: "POST",
            success: reload,
        })
    }
})

$("pre a[href='#']").on("click", function(e) {
    var $x = $(e.target)
    var name = $x.prev().text()
    url = "/upload" + location.pathname + name
    if (confirm(name)) {
        $.ajax({
            url: url,
            type: "DELETE",
            success: () => $x.parent().remove(),
        })
    }
})
</script>
</body>
</html>
